@import '../Styles/global.css';

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: var(--primary-color-dark);
}

ul.nav-ul {
    display: flex;
    flex-direction: row;

    gap: 40px;
    gap: 5px;
    justify-content: space-between;
    padding: 1rem;
}

ul.nav-ul li a{
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 5px;

}

.logo-navbar {
    padding: 10px;
}
.login-navbar {
    background-color: #ffff;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 24px;
    justify-content: center;
    line-height: 20px; 
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;

}

.signup-navbar {
    background-color: var(--primary-color-light);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 24px;
    justify-content: center;
    line-height: 20px; 
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}