@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --primary-dark:#3B0967;
    --primary-light:#D9C5FF;
    --primary:#B38BFF;
    --acrivity-bg-color:#1D0648;
    --bf-color:#1B1B1B;
    --bg-color-alr:#232323;
    --primary-color:black;
    --secondary-color:white;
    --primary-hover:rgb(4, 179, 179);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* navbar */
li, a, button {
    
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--secondary-color);
    text-decoration: none;
    list-style: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background-color: var(--primary-dark);
}
.logo {
    cursor: pointer;
    width: 200px;
    height: 60px;
}
nav {
    display: flex;
    align-items: center;
}
.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a {
    transition: all 0.3s ease 0s;
}
.nav-links li a:hover {
    color: var(--primary-hover) ;
}
.login button {
    padding:  5px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: var(--primary-color);
    margin: 5px;

    
}
.login :nth-child(2) button{
    background-color: var(--primary);
    color: var(--secondary-color);
    padding:  5px 20px;
}
.login button:hover {
    color: var(--secondary-color);
    font-weight: 900;
    background-color: rgba(0, 136, 169, 0.5);
}

/* Slides-header  */
.slides-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    background-color: var(--primary-light);
    background-image: linear-gradient(var(--primary-light),white);
  }
  .slides-header img {
    width: 100%;
    height: 400px;
  }
  
  .slides-header {
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover{
    background-color: rgba(0,0,0,0.6);;
  }
  .dot {
    cursor: pointer;
    height: 10px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active,.dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

 /* Caption */
.pros {
    display: flex;
    justify-content: space-around;
}
.pros-1, .pros-2, .pros-3{
    width: 220px;
    height: 300px;

    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pros-1 div:nth-child(1),.pros-2 div:nth-child(1),.pros-3 div:nth-child(1){
    background-color: var(--primary-light);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pros-1 img {
    width: 100px;
    height: 100px;
}
.pros-2 img {
    width: 80px;
    height: 100px;
}
.pros-3 img {
    width: 90px;
    height: 100px;
}
.pros-1 h1, .pros-2 h1, .pros-3 h1 {
    text-align: center;
}
.pros p{
    /* margin: 10px 0px 0px 20px;  */
    text-align: center;
}


/* Tracking */
.track{
    background-color: white;
    background-image: linear-gradient(white,var(--primary-light),white);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.achievement {
    width: 65%;
    height: 350px;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 3px 3px 10px gray;
}
.achievement div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
}
.achievement div:nth-child(1) h1{
    font-size: 2rem;
    margin-bottom: 20px;
}
.achievement div:nth-child(2) div:only-child{
    background-color: var(--primary);
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.achievement div:nth-child(2) div:only-child img{
    width: 140px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Follow&Download */
.follow {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 40px;
}
.follow div {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

/* Victory Story */

.my-journey {
    background-color: var(--primary-light);
    background-image: radial-gradient(white,white,var(--primary-light),var(--primary-light));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.my-journey span {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 40px;
}
.story {
    width: 700px;
    height: 400px;
    border-radius:30px;
    background-color: white;
    box-shadow: 3px 3px 10px gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.story div {
    margin: 10px;
}
.story img {
    display: block;
    width: 250px;
    height: 250px;
}
.story div:nth-child(2) {
    width: 350px;
    height: 250px;
    position: relative;
}
.story div:nth-child(2) h1{
    text-align:center;
    margin-top: 20px;
}
.story div:nth-child(2) p{
    text-align: center;
    padding: 10px 30px;
    text-align: left;
    margin:20px 0 0 40px;
}
#user-id{
    font-size: 1.25rem;
    position: absolute;
    top: 235px;
    right: 30px;
}

/* Package */
.package {
    text-align: center;
    padding: 20px;
    margin: 30px;
}
.package h1{
    font-size: 3rem;
    font-weight: 900;
    margin: 30px;
}
.package-level {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.package-level div{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.package-level div h2{
    background-color: #D9D9D9;
    padding: 10px;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 20px 20px 0px 0px;
    border-block-end-color: white;
    font-size: 2rem;
    font-weight: 900;
    
}
.package-level div div:nth-child(2){
    height: 180px;
    border-radius: 0px 0px 20px 20px;
    padding: 10px;
    border: 1px solid rgb(153, 153, 153);
    position: absolute;
    top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.package-level div div:nth-child(2) span{
    font-size: 2rem;
    font-weight: 900;
    margin: 10px 0px;
}
.package-level div div:nth-child(2) button{
    margin-top: 55px;
    background-color: #0D6EFD;
    border: 1px solid #0D6EFD;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    transition: all 0.3s ease 0s;
}
.package-level div:nth-child(1) div button{
    background-color: white;
    color: #0D6EFD;
}

.package-level div div:nth-child(2) button:hover{
    background-color: #03f117;
}


/* Footer */
.foot{
    background-color: var(--primary-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: var(--secondary-color);
    width: 100%;
    height: 90px;
}
footer a {
    text-decoration: underline;
}
.foot ul {
    display:flex;
    gap: 30px;
    list-style: none;
}
.foot ul li a{
    transition: all 0.3s ease 0s;
}
.foot ul li a:hover{
    color: var(--primary);
}
.foot .btt {
    cursor: pointer;
}