@import '../Styles/global.css';

:root {
    --primary-dark: #3B0967;
    --primary-light: #d9c5ff
}


body {
    /* width: 100%;
    height: 100%; */
    /* width: 1200px; */
    /* height: 900px; */
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   padding: 1rem 1rem 1rem 1rem;
   margin: 1rem 1rem 1rem 1rem;
   background-image: url('https://cdn-icons-png.flaticon.com/512/7798/7798941.png');
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-color: var(--primary-light);
   border-radius: 25px;
   /* width: 50%;  */
} 
.contact-box {
    display: flex;
    align-items: baseline;
    text-align: justify; 
     /* padding: 30px 30px 30px;
    border-radius: 25px; 
     background-color: var(--primary-light); 
    background-image: url('https://cdn-icons-png.flaticon.com/512/7798/7798941.png');
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;  */
} 

.form-right {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 1rem;
    /* padding-top: 3rem; */

}
.form-left {
    display: grid;
    align-items: baseline;
    padding-left: 1rem;
    
}

.button{
    text-align: center;
    background-color: var(--primary-dark); 
    border-radius: 25px;
    width: 95%;
    font-style: bold;
    color:white;

}
.button:hover {
    background-color: plum; 
  }
.contact {
    font-size: 1.5rem;
    color: var(--primary-dark);  
    text-align: center; 
    justify-content: center;
}
.call {
    color: var(--primary-dark);
}
.ourEmail {
    color: var(--primary-dark);
}
.location {
    color: var(--primary-dark);
}
.name {
    border-radius: 5px;
}
.email {
    border-radius: 5px;
}
.message {
    border-radius: 5px;
}