@import '../Styles/global.css';

span {
    color: white;
}

/* container section */
.container {
    height: 100%;
    display: flex;
    justify-content:  center;
    /* background: var(--primary-color-dark); */
    
}

.container > img {
    width: 100%;
    display: block;
    position: fixed;
    z-index: -1;
}

/* left section */
.left-container{
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: var(--bg-color);
    height: 100%;
}

.logo a img {
    display: block;
    width: 100%;
    padding: 1rem;
}

.nav-bar {
    height: 100%;
}
nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    padding: 1rem;
}

li a{
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

}


/* middle section */
.middle-container {
    width: 50%;
}

.middle {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mini-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.location {
    display: flex;
    font-size: large;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    
}

.location i {
    color: white;
    font-size: 3rem;
}



.profile-pic img {
    display: block;
    width: 5rem;
    border-radius: 100%;
}

.card-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;
    
}

.card-add {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background: var(--primary-color-light);
    font-size: 5rem;
    color: var(--bg-activity-color);
}

.card-add:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(185, 178, 178);

}

.card-add:active {
    scale: .95;
}

.card {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 150px;
    padding: .5rem 3rem 0 1rem;
    color: var(--bg-activity-color);
}

.card:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(185, 178, 178);

}

.card:active {
    scale: .95;
}

.activity-bg {
    display: flex;
    background-color: var(--bg-activity-color);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}

.activity-edit-del {
    display: flex;
    gap: 2rem;
    font-size: 3rem;
}

.activity-edit-del:hover a i:first-child {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(80, 238, 255);
}

.activity-edit-del a i:first-child {
    color: var(--primary-color-dark);
}

.activity-edit-del i:last-child {
    color: red;
}

.activity-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.activity-content h2 {
    font-size: 2rem;
    font-weight: 900;
}

.activity-property {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: large;
}

.activity-property-top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}
.activity-property-bottom {
    display: flex;
    gap: 2rem;
    
}


/* right section */
.right-container {
    width: 25%;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 1rem;
}

.right {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: var(--bg-color);
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.activity-summary-top {
    color: white;
}

.activity-summary {
    background-color: var(--bg-color-alt);
    width: 90%;
    height: 20%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}