 @import '../Styles/global.css';

.container-out__slider2 {
    background-image: linear-gradient(to top, #ffffff, #f7f4ff, #efeaff, #e8dfff, #e1d4ff, #e1d4ff, #e1d4ff, #e1d4ff, #e8dfff, #efeaff, #f7f4ff, #ffffff);
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 32px;

}

.container-size__slider2 {
    width: 900px;
    height: 350px;
}

.container-content-slider2 {
    height: 100%;
    position: relative;
}

.slider2-container-overflow {
    background-color: white;
    overflow: hidden;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgb(0, 0, 0,.5);
}

.slider2-container {
    display: flex;
    height: 100%;
    transition: transform ease-out .8s;
}

.slider2-content {
    border-radius: 20px;
    display: flex;
    width: 900px;
}


.slider2-img-container {
    display: flex;
    width: 40%;
    height: 100%;
    padding: 60px 70px 80px 50px;
}

.slider2-img {
    width: 80%;
    background-position: center right;
    background-origin: border-box;
    background-size:cover;
    border:20px solid var(--primary-color);
    padding: 30px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.slider2-description {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-right: 16px;
    padding-left: 45px;
    gap: 16px;
    font-size: x-large;
}

.slider2-description p {
    text-align: justify;
}

.slider2-description h2 {
    text-align: center;
    font-size: 3rem;
}

.slider2-previous-arrow {
    position: absolute;
    top: 50%;
    Transform: translate(-150%, -50%);
    font-size: 70px;
    color: #585050;
    z-index: 1;
    cursor: pointer;
}

.slider2-next-arrow {
    position: absolute;
    top: 50%;
    Transform: translate(150%, -50%);
    right: 0px;
    font-size: 70px;
    color: #585050;
    z-index: 1;
    cursor: pointer;
}

.slider2-tab-container {
    display: flex;
    justify-content: center;
}

.slider2-tab{
    cursor: pointer;
    margin: 0 3px;
}

.slider2-tab button {
    padding: 5px 30px;
    border: none;
    background-color: lightgray;
}

.active-slider2-tab button {
    background-color: gray;
}

