@import '../Styles/global.css';

/* Achievement */

#container_achievement_pg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Lato", sans-serif;
}
.box_achievement_pg {
width: 100%;
height: 75%;
max-width: 1000px;
padding: 15px;
background-color: #1d06485e;
border-radius: 15px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.12);
box-shadow: 10px 10px 70px 2px black;
}
.box_achievement_pg h1 {
margin: 1px 0 20px;
color:var(--primary-color-light);
font-size: 3rem;
letter-spacing: 2px;
text-align: center;
}

/* Cards */

.boxr1_achievement_pg {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
height: 42%;
}
.boxr2_achievement_pg {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
width: 100%;
height: 42%;
}
.card_achievement_pg {
width: 20%;
padding: 15px 10px;
margin: 20px;
background-color:var(--primary-color);
border-radius: 15px;
transition: transform 0.3s;
box-shadow: 10px 10px 70px 2px black;
}
.card5_achievement_pg,
.card6_achievement_pg {
width: 20%;
padding: 15px 10px;
margin: 20px;
background-color:var(--primary-color);
border-radius: 15px;
transition: transform 0.3s;
box-shadow: 10px 10px 70px 2px black;
}
.card_achievement_pg a {
color: inherit;
text-decoration: none;
}
.card-thumb_achievement_pg {
width: 100%;

}
.card-thumb_achievement_pg img {
width: 100px;
justify-content: center;
margin-left: 35px;

}
.card-title_achievement_pg {
margin: 5px 0;
font-size: 1.25rem;
letter-spacing: 1px;
text-align: center;
color: var(--bg-activity-color);
}
.card_achievement_pg:hover {
box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
transform: translateY(-4px);
}

.card_achievement_pg:active {
scale: 0.95;
}

@media screen and (max-width: 540px) {
    #container_achievement_pg {
        height: auto;
    }
    .box_achievement_pg {
        padding: 10px;
    }
    .card_achievement_pg {
        width: 49%;
    }
    }
    @media screen and (max-width: 480px) {
    .box_achievement_pg h1 {
        font-size: 1.5rem;
    }
    .boxr1_achievement_pg {
        justify-content: center;
    }
    .boxr2_achievement_pg {
        justify-content: center;
    }
    .card_achievement_pg {
        margin-bottom: 20px;
        width: 80%;
    }
} 