@import "../Styles/global.css";

.container-add {
  display: flex;
  justify-content: center;
  /* padding-top: 100px; */
  margin-top: 25px;
}

.container-form-add-edit {
  background-color: var(--primary-color-light);
  border-radius: 20px;
  padding: 30px;
  width: auto;
  height: auto;
}
.container-form-add-edit h1 {
  text-align: center;
  font-size: 1.5rem;
}

/* NameActivity */
.NameActivity {
  margin: 20px 0;
}
.NameActivity input {
  width: 100%;
  height: 35px;
  outline: none;
  font-size: 1.5rem;
  padding: 5px;
}

/* TypeActivity */
.TypeActivity {
  margin: 5px 0;
}

.TypeActivity ul {
  display: flex;
  justify-content: space-between;
  height: 50px;
  margin-top: 5px;
}
.TypeActivity ul li {
  width: 50px;
  padding: 1px;
  border: 3px solid var(--primary-color-light);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color-dark);
}
.TypeActivity ul li i {
  color: #ffffff;
  font-size: 30px;
}
.TypeActivity ul li i:hover {
  color: greenyellow;
  transition: all 0.3s ease;
  cursor: pointer;
}
.TypeActivity ul li:hover {
  transform: translate(0, -2px);
  box-shadow: 5px 5px 10px #afafaf;
  transition: all 0.5s ease;
  border: 3px solid greenyellow;
  cursor: pointer;
}
#SeleteActive {
  background-color: rgb(14, 10, 241);
  border: 3px solid rgb(255, 230, 3);
  box-shadow: 5px 5px 10px #ffe366;
  transform: translate(0, -2px);
}

/* DateAcitvity */
.DateAcitvity input {
  width: 100%;
  height: 35px;
  outline: none;
  font-size: 1.25rem;
  padding: 5px;
}

/* Duration and Distance */
.DurationDistance {
  display: flex;
  margin: 20px 0;
  gap: 60px
}
.DurationDistance div {
  position: relative;
}

.DurationDistance :nth-child(1) input {
    width: 100%;
  height: 35px;
  outline: none;
  font-size: 1.25rem;
  padding: 5px;
  
}
.DurationDistance :nth-child(1) span {
  font-size: 1.25rem;
  position: absolute;
  top: 49%;
  right: 15%;
}
.DurationDistance :nth-child(2) input {
    width: 100%;
  height: 35px;
  outline: none;
  font-size: 1.25rem;
  padding: 5px;
}
.DurationDistance :nth-child(2) span {
  font-size: 1.25rem;
  position: absolute;
  top: 49%;
  right: 15%;
}

/* Note */
.Note {
  
}
.Note textarea {
  outline: none;
  font-size: 1.25rem;
  display: block;
  width: 100%;
  padding: 5px;
}

/* Button */
.Buttom-Add-Edit {
  text-align: center;
}
.Buttom-Add-Edit button {
  padding: 5px 35px;
  margin: 20px;
}
.Buttom-Add-Edit :nth-child(1) {
  background-color: #008000;
  color: white;
  border: 0px;
  border-radius: 5px;
  width: 125px;
  height: 35px;
  overflow: hidden;
}
.Buttom-Add-Edit :nth-child(1):hover {
  background-color: #a5e65a;
  font-weight: bolder;
  color: #5f7174;
  box-shadow: 5px 5px 10px #888888;
  transform: translate(0, -2px);
  transition: all 0.25s ease;
}

.Buttom-Add-Edit :nth-child(2) {
  background-color: #ff0000;
  color: white;
  border: 0px;
  border-radius: 5px;
  width: 125px;
  height: 35px;
  overflow: hidden;
}

.Buttom-Add-Edit :nth-child(2):hover {
  background-color: #ff4026;
  font-weight: bolder;
  color: #000000;
  box-shadow: 5px 5px 10px #888888;
  transform: translate(0, -2px);
  transition: all 0.25s ease;
}

/* all  */
.container-form-add-edit input {
  margin-top: 5px;
}
.container-form-add-edit input:focus {
  border-color: #0bf163;
  border-radius: 5px;
}
.container-form-add-edit label {
  opacity: 0.9;
}
.container-form-add-edit textarea {
  margin-top: 5px;
}

.container-form-add-edit textarea:focus {
  border-color: #0bf163;
  border-radius: 5px;
}
