
:root {
    --primary-dark:#3B0967;
    --primary-light:#D9C5FF;
    --primary:#B38BFF;
    --acrivity-bg-color:#1D0648;
    --bf-color:#1B1B1B;
    --bg-color-alr:#232323;
    --primary-color:black;
    --secondary-color:white;
    --primary-hover:rgb(4, 179, 179);

}


 /* Caption */
 .pros {
    display: flex;
    justify-content: space-around;
}
.pros-1, .pros-2, .pros-3{
    width: 220px;
    height: 300px;

    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pros-1 div:nth-child(1),.pros-2 div:nth-child(1),.pros-3 div:nth-child(1){
    background-color: var(--primary-light);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pros-1 img {
    width: 100px;
    height: 100px;
}
.pros-2 img {
    width: 80px;
    height: 100px;
}
.pros-3 img {
    width: 90px;
    height: 100px;
}
.pros-1 h1, .pros-2 h1, .pros-3 h1 {
    text-align: center;
}
.pros p{
    /* margin: 10px 0px 0px 20px;  */
    text-align: center;
}
