@import '../Styles/global.css';



.body {
    display: flex;
    justify-content: center;
}

.container-contact {
    display: flex;
    position:relative;
    flex-wrap: wrap;
    flex-direction: column;
   justify-content: center;
   margin: 2rem 1rem 1rem 1rem;
   background-image: url('https://cdn-icons-png.flaticon.com/512/7798/7798941.png');
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-color: var(--primary-color-light);
   border-radius: 25px;
   place-items: center;
   padding: 3rem;
  
} 
.contact-box {
    display: flex;
    align-items: baseline;
    text-align: justify; 
   
} 

.form-right {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 1.5rem;
    

}
.form-left {
    display: grid;
    align-items: baseline;
    padding-left: 1rem;
    
}

.button{
    text-align: center;
    background-color: var(--primary-color-dark); 
    border-radius: 25px;
    width: 95%;
    font-style: bold;
    color:white;
    font-size: 22px;

}
.button:hover {
    background-color: plum; 
  }
.contact {
    font-size: 28px;
    color: var(--primary-color-dark);  
    text-align: center; 
    justify-content: center;
    padding-bottom: 1rem;
}
.call {
    color: var(--primary-color-dark);
    font-size: 22px;  
}

.call h4 {
    font-size: 20px;  
}
.ourEmail {
    color: var(--primary-color-dark);
    font-size: 22px;
}
.ourEmail h4{
    font-size: 20px;
}

.location {
    color: var(--primary-color-dark);
    font-size: 22px;
}

.location h4 {
    font-size: 20px;
}
.name {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
.email {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}
.message {
    border-radius: 5px;
    font-size: 20px;
    padding: 5px;
}

