@import '../Styles/global.css';

.db-location span {
    color: white;
}

.db-big-container {
    position:relative;

}

/* container section */
.db-container {
    height: 100%;
    display: flex;
    justify-content:  center;
    position:relative;

    /* background: var(--primary-color-dark); */
    
}

.db-container > img {
    width: 100%;
    display: block;
    position: fixed;
    z-index: -1;
}

/* left section */
.db-left-container{
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 1rem;
}

.db-left {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: var(--bg-color);
    height: 100%;
}

.db-logo a img {
    display: block;
    width: 100%;
    padding: 1rem;
}

.db-nav-bar {
    height: 100%;
}
.db-nav-bar nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

.db-nav-bar nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    padding: 1rem;
}

.db-nav-bar nav ul li a {
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


/* middle section */
.db-middle-container {
    width: 50%;
}

.db-middle {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.db-mini-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.db-location {
    display: flex;
    font-size: large;
    align-items: center;
    font-size: 2rem;
    gap: 1rem;
    
}

.db-location i {
    color: white;
    font-size: 3rem;
}

.db-profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.db-profile-pic img {
    display: block;
    width: 5rem;
    border-radius: 100%;
}

.db-profile-pic h2 {
    color: white;
}

.db-card-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;
    
}

.db-card-add {
    display: flex;
    justify-content: center;
    border-radius: 50px;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
    background: var(--primary-color-light);
    font-size: 5rem;
    color: var(--bg-activity-color);
}

.db-card-add:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(185, 178, 178);

}

.db-card-add:active {
    scale: .95;
}

.db-card {
    background: var(--primary-color);
    display: flex;
    justify-content: space-between;
    border-radius: 50px;
    width: 100%;
    height: 150px;
    padding: .5rem 3rem 0 1rem;
    color: var(--bg-activity-color);
}

.db-card:hover {
    scale: 1.02;
    box-shadow: 0px 5px 30px rgb(185, 178, 178);

}

.db-activity-bg {
    display: flex;
    background-color: var(--bg-activity-color);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2.5rem;
}

.db-activity-edit-del {
    display: flex;
    gap: 3rem;
    font-size: 3rem;
}

.fa-pen-to-square:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(80, 238, 255);
}

.fa-pen-to-square {
    color: var(--primary-color-dark);
}

.fa-trash:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(255, 80, 238);
}

.fa-trash {
    color: red;
}

.db-activity-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.db-activity-content h2 {
    font-size: 2rem;
    font-weight: 900;
}

.db-activity-property {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    font-size: large;
}

.db-activity-property-top {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

}
.db-activity-property-bottom {
    display: flex;
    gap: 2rem;
    
}


/* right section */
.db-right-container {
    width: 25%;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 1rem;
}

.db-right {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: var(--bg-color);
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.db-activity-summary-top {
    color: white;
}

.db-activity-summary-top > h2 {
    margin-bottom: 10px;
}

.db-activity-summary {
    background-color: var(--bg-color-alt);
    width: 90%;
    height: 20%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

