@import '../Styles/global.css';

.db-location span {
    color: white;
}

.db-big-container {
    position:relative;

}

/* container section */
.db-container {
    height: 100%;
    display: flex;
    justify-content:  center;
    position:relative;
    
    /* background: var(--primary-color-dark); */
    
}

.db-container > img {
    width: 100%;
    display: block;
    position: fixed;
    z-index: -1;
}

/* left section */
.db-left-container{
    width: 25%;
    height: 100%;
    position: fixed;
    left: 0;
    padding: 1rem;
}

.db-left {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: var(--bg-color);
    height: 100%;
    box-shadow: 0px 0px 5px 5px rgba(91, 91, 91, 0.2);
}

.db-logo a img {
    display: block;
    width: 100%;
    padding: 1rem;
}

.db-nav-bar {
    height: 100%;
}
.db-nav-bar nav {
    display: flex;
    justify-content: center;
    height: 100%;
}

.db-nav-bar nav ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    padding: 1rem;
}

.db-nav-bar nav ul li a {
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.db-line-connection {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:16px;
}

.db-line-connection img {
    width: 200px;
}

.db-line-connection a {
    cursor: default !important;
}

.db-line-connection a i {
    margin-right: 5px;
    background-color: white;
    border-radius: 8px;
}


/* middle section */
.db-middle-container {
    width: 50%;
}

.db-middle {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.db-card-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    padding: 1rem 0;
    gap: 2rem;
}

.db-card-add {
    display: flex;
    border-radius: 50px;
    width: 100%;
    height: auto;
    padding: 30px;
    justify-content: center;
    align-items: center;
    background: var(--primary-color-light);
    font-size: 5rem;
    color: var(--bg-activity-color);
    position: sticky;
    top: 1rem;
    z-index: 999;
}

.db-card-add:hover {
    scale: 1.02;
    cursor: pointer;
    box-shadow: 0px 5px 30px rgb(185, 178, 178);

}

.db-card-add:active {
    scale: .95;
}




/* right section */
.db-right-container {
    width: 25%;
    height: 100%;
    position: fixed;
    right: 0;
    padding: 1rem;
}

.db-right {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background: var(--bg-color);
    height: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 5px 5px rgba(91, 91, 91, 0.2);
}

.db-activity-summary-top {
    color: white;
}

.db-activity-summary-top > h2 {
    margin-bottom: 10px;
}

.db-activity-summary {
    background-color: var(--bg-color-alt);
    width: 90%;
    height: 35%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

