 @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --primary-color: #B38BFF;
    --primary-color-light: #D9C5FF;
    --primary-color-dark: #3B0967;
    --bg-color: #1B1B1B;
    --bg-color-alt: #232323;
    --bg-activity-color: #1D0648;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

button:hover {
    cursor: pointer;
}