@import '../Styles/global.css';

.container_signup{
	font-family: 'Lato', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	padding: 1.5rem;
}

.container_signup:after{
	content: "";
	position: fixed;
	inset: 0;
	background-color: var(--primary-color);
	width: -60%;
	height: 100vh;
	-webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%);
	clip-path: polygon(40% 0, 100% 0, 100% 100%, 58% 100%);
	z-index: -1;
}

.login-card_singup {
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 10px 50px -20px black;
	width: 1200px;
	border-radius: 30px;
	overflow: hidden;
	display: grid;
	grid-template-columns: auto auto;
}

.login-card_singup a {
	text-decoration: none;
	color: var(--primary-color);
}

.login-card_singup a:hover {
	color: var(--primary-color-dark);
}

.login-card_singup .column {
	padding: 4rem;
}

.login-card_singup .column img {
    display: block;
    margin-bottom: 1rem;
}

.login-card_singup .column:first-child {
	background-size: cover;
	position: relative;
    background: url(../Images/Login-Signup/bg-login-signup.png) center;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	gap: 40px;
	text-align: center;
    opacity: .9;
}

.login-card_singup .column:first-child::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(../Images/Login-Signup/bg-login-signup.png) center;
	background-size: cover;
	transform: scaleX(-1);
    border: 1px solid white;
}

.login-card_singup .column:last-child h1 {
	font-weight: 900;
    font-size: 3rem;
}

.login-card_singup .column:first-child:after {
	content: "";
	position: absolute;
	background: linear-gradient(-90deg, #fff, rgba(179,139,255,.8));
	inset: 0;
}

.login-card_singup .column:first-child * {
	z-index: 1;
}

.login-card_singup .column:first-child button:hover {
	background-color: var(--primary-color);
	color: white;
    transform: .2;
}

.login-card_singup .column:first-child button:active {
	scale: 0.95;
	background-color: var(--bg-color-alt);
}

.login-card_singup .form-element {
	width: 100%;
	border: none;
	background-color: #f1f1f1;
	padding: 20px 30px;
	font-size: 18px;
	border-radius: 50px;
	transition: box-shadow 0.2s;
}

.login-card_singup .form-element:focus {
	outline: none;
	box-shadow: 0 0 0 2px var(--primary-color-light);
}

.login-card_singup form {
	margin-top: 3rem;
}

.login-card_singup .column form .form-item {
    position: relative;
}

.login-card_singup .column form .form-item i{
    cursor: pointer;
    position: absolute;
    font-size: 1.5rem;
    padding: 20px;
    right: 0;
    bottom: 0;
    opacity: .5;
}

.login-card_singup form > * {
	margin-top: 1rem;
}

.login-card_singup form button {
	background-color: var(--primary-color-dark);
	color: #fff;
	border: none;
	padding: 20px 40px;
	border-radius: 50px;
	font-weight: 600;
	font-size: 18px;
	transition: all 0.2s;
	cursor: pointer;
    width: 100%;
}

.login-card_singup form button:hover {
	background-color: var(--primary-color);
}

.login-card_singup form button:active {
	scale: 0.95;
	background-color: var(--primary-color-light);
}

.flex {
	display: flex;
    flex-direction: column;
	align-items: center;
}

@media (max-width: 992px) {
	.login-card_singup {
	display: block;
	width: 500px;
	text-align: center;
	}
	.login-card_singup .column:first-child {
	display: none;
	}
	.flex {
	flex-direction: column;
	gap: 1rem;
	}
	.social-buttons {
	justify-content: center;
	}	
}